/* Style for the save button */
.btn-save {
    background-color: darkgreen;
    color: white;
}

/* Hover effect for the save button */
.btn-save:hover {
    background-color: olive;
    color: white;
}

/* Style for the back button */
.btn-back {
    background-color: lightgray;
}

/* Hover effect for the back button */
.btn-back:hover {
    background-color: darkgrey;
    color: #111111;
}
