
.btn-save{
    background-color: darkgreen;
    color: white;
}

.btn-save:hover{
    background-color: olive;
    color: white;
}

.btn-back{
    background-color: lightgray;
}

.btn-back:hover{
    background-color: darkgrey;
    color: #111111;
}
